body { background-color:#91972A;color:#f2f4f3; font-family: cursive;}
li{font-family:cursive;margin: 12px;}
h1{font-family: cursive; text-align: center;color: #e6d3a3;}
h3{margin:12px;}
h2{text-transform:capitalize;}

